* {
    background-color: #0F101C;
}

.nav_bar {
    position: absolute;
width: 100%;
height: 80px;
left: 0px;
top: 0px;
display: inline-block;
background: #1C1D39;
}

.logo {
    position: absolute;
width: 116px;
height: 48.75px;
left: 23px;
top: 14px;
background-color: #1C1D39;
}

.title {
    font-family: Montserrat;
font-size: 28px;
font-weight: 600;
line-height: 34px;
letter-spacing: 0em;
text-align: left;
color: aliceblue;
background-color: #1C1D39;
display: block;
margin-left: 150px;
padding-top: 6px;
display: inline-block;
}

.but-web {
    font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
color: aliceblue;
background-color: #1C1D39;
border: 2px solid #00C88C;
border-radius: 10px;
height: 40px;
width: 120px;
margin-left: 55%;


}

.but-con {
    
        font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: aliceblue;
    background-color: #00C88C;
    border-radius: 10px;
    height: 40px;
    width: 120px;
    margin-left: 30px;
    
}

.bodyy{
    width: 1400px;
    margin: auto;
}

.body_left {
    width: 550px;
    height: 600px;
    margin-top: 70px;
    float: left;
}

.left-h{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 42px;
line-height: 78px;
padding-left: 50px;
color: #FFFFFF;
}
 
.left-p {
    color: #FFFFFF;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 39px;
padding-left: 50px;
}

#conta{
    width: 500px;
    margin-left: 50px;
}

.left-one-one {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 33px;
/* identical to box height */
padding-left: 50px;
color: #FFFFFF;
width: 200px;
padding-left: 10px;
background: #1C1D39;
box-shadow: 5px 5px 6px -19px #FFFFFF;
float: left;
margin-right: 20px;
}

.left-one-one span {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 48px;
/* identical to box height */

background-color: #1C1D39;
color: #00C88C;
}

.left-one-two {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 33px;
/* identical to box height */
padding-left: 50px;
color: #FFFFFF;
width: 200px;
padding-left: 10px;
background: #1C1D39;
box-shadow: 5px 5px 6px -19px #FFFFFF;
margin-left: 50px;
}

.left-one-two span {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 48px;
/* identical to box height */
float: left;
background-color: #1C1D39;
color: #00C88C;
}

.body_right {
    width: 550px;
    height: 600px;
    margin-top: 70px;
    float: left;
}

.two1{
    border-radius: 0px 10px 0px 0px;
}
.two2{
    border-radius: 10px 0px 0px 0px;
}

.right-one-one {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 33px;
/* identical to box height */
padding-left: 50px;
color: #FFFFFF;
width: 280px;
padding-left: 10px;
background: #1C1D39;
background: #1C1D39;
box-shadow: 5px 5px 6px -19px #FFFFFF;

float: left;
margin-right: 20px;
}

.right-one-one span {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 48px;
/* identical to box height */

background-color: #1C1D39;
color: #00C88C;
}


.rect{
    position: absolute;
width: 598px;
height: 641px;
left: 774px;
top: 200px;

background: #1C1D39;
box-shadow: 5px 5px 6px -19px #FFFFFF;
border-radius: 0px 0px 10px 10px;
}


#container{
    width: 1000px;
    margin-left: 163px;

}

.xxx{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;
/* identical to box height */
padding-left: 20px;
background-color: #1C1D39;
color: rgba(255, 255, 255, 0.8);
margin-bottom: 5px;
margin-top: 15px;
}



.bar{
    width: 600px;
    background-color: #1C1D39;
}

.green{
    height: 25px;
    width: 250px;
    background-color: #00C88C;
    margin-left: 25px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    float: left;

}

.grey{
    height: 25px;
    width: 305px;
    background: rgba(217, 217, 217, 0.2);
    margin-left: 25px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: 260px;
}

#a{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
background-color: #00C88C;
margin-left: 85px;
color: rgba(0, 0, 0, 0.8);
}

#b{
    width:470px;
    height: 40px;
    background: rgba(217, 217, 217, 0.2);
    margin-left: 20px; 
    border: none;
    margin-bottom: 0px;
    
}
::placeholder{
    font-family: 'Poppins';
font-style: normal;
padding-left: 20px;

color: #FFFFFF;
}

#BUT{
    
    height: 41px;
    background: rgba(217, 217, 217, 0.2);
    border: none;
    width: 80px;
    background-color: #FFFFFF;
}

.ones {
    width: 240px;
height: 37px;
background: #F6FFFC;
border-radius: 10px; float: left;
margin-left: 40px;
margin-right: 40px;
margin-top: 50px;
}

.twos {
    width: 240px;
height: 37px;
background: #F6FFFC;
border-radius: 10px; float: left;
margin-top: 50px;
}

.jj {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
width: 10px;
font-size: 16px;
background-color: #F6FFFC;
align-items: center;
text-align: center;
margin-top: 9px;
padding-left: 98px;

color: rgba(0, 0, 0, 0.8);

}

.jm{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
width: 10px;
font-size: 16px;
background-color: #F6FFFC;
align-items: center;
text-align: center;
margin-top: 9px;
padding-left: 90px;

color: rgba(0, 0, 0, 0.8); 
}

.final {
width: 526px;
height: 37px;

background: #FF0000;
border-radius: 10px;
margin: auto;

margin-top: 108px;
} 

.finals{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
align-items: center;
text-align: center;
background-color:  #FF0000;
color: #FFFFFF;
border: none;
border-radius: 10px;
width: 526px;
height: 37px;
margin-top: 20px;
margin-left: 40px;
}